body {
  background-color: #bba9a0;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #da763a;
  font-family: "Italiana", serif;
  font-size: 5.61rem;
  text-align: center;
}

h2 {
  display: inline;
  font-size: 4.209rem;
  font-weight: 300;
}

small {
  font-weight: 100;
}

ul {
  list-style: none;
  line-height: 2.369rem;
  margin-bottom: 0;
}

ul,
.weather-and-desc {
  position: absolute;
  bottom: 2rem;
}

img {
  display: block;
  margin: 0 auto;
  width: 200px;
  stroke-width: 1;
}
.footer-text a {
  color: #e9e9e9;
}

.alt-units a {
  color: #ae8b78;
}

.time,
.date,
.search-input,
.search-loc,
.geoloc-btn {
  font-weight: 300;
  font-size: 1rem;
}

.addtl-weather,
.addtl-weather-label {
  font-weight: 300;
  font-size: 1rem;
}

.main-row {
  margin-top: 1rem;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.search {
  padding-right: 0;
}

.location-search {
  display: block;
  text-align: right;
  flex-flow: nowrap;
}

.button-geoloc {
  text-align: right;
  margin-top: 1rem;
}

.search-loc,
.current-date-time {
  border: 0.125rem solid #bba9a0;
  border-radius: 0.5em;
}

.addtl-weather-label {
  font-weight: 400;
  margin-right: 0.3rem;
}

.current-date-time {
  padding: 0.5rem;
  text-align: center;
}

.geoloc-btn {
  background-color: #bba9a0;
  border-radius: 0.5em;
  color: #e9e9e9;
}

.main-weather-icon {
  display: block;
  margin: 0 auto;
}

.super-units {
  position: relative;
  top: -2.125rem;
  right: -0.5rem;
}

.weather-app-wrapper,
.weather-app {
  max-width: 750px;
}
.weather-app {
  margin: 3rem auto 1rem auto;
  padding: 1.5em;
  border: 1px solid #d0d0d0;
  border-radius: 0.5em;
  background-color: #e9e9e9;
}

.weather-description {
  font-style: italic;
  font-size: 1.333rem;
  text-align: center;
}

.links-etc {
  margin: 1rem 1.5rem;
}
